<div class="logo text-center">
    <img width="300px" src="../../assets/logoAcad.png" alt="">
</div>

<div class="form-cadastro m-3 p-4">
    <form [formGroup]="submitForm">
        <div class="row">
            <div class="col md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput type="text" placeholder="Seu nome" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Sobrenome</mat-label>
                    <input formControlName="sobrenome" matInput type="text" placeholder="Seu Sobrenome" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="text" placeholder="Seu email" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input formControlName="telefone" matInput type="text" placeholder="Seu telefone" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Peso</mat-label>
                    <input formControlName="peso" matInput type="number" placeholder="Seu peso" required>
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Em kgs</mat-hint>
                </mat-form-field>
            </div>
            <div class="col md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Altura</mat-label>
                    <input [readonly]="!this.submitForm.value?.peso" formControlName="altura" matInput type="number" placeholder="Sua altura" required>
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>Em Metros</mat-hint>
                </mat-form-field>
            </div>
                <div class="col md-6 mt-3">
                    <mat-form-field appearance="outline">
                        <mat-label>IMC</mat-label>
                        <input readonly formControlName="imc" matInput type="number" placeholder="IMC">
                        <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                    </mat-form-field>
                </div>
                <div class="col md-6 mt-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Resultado IMC</mat-label>
                        <input readonly formControlName="imcResultado" matInput placeholder="Resultado">
                        <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                    </mat-form-field>
                </div>
 
                <div class="col-md-6 mt-3">
                    <label id="example-radio-group-label">Gênero:</label>
                    <mat-radio-group formControlName="genero" required aria-labelledby="example-radio-group-label" class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let genero of generos" [value]="genero">
                            {{genero}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        <div class="row">
            <div class="col md-6 mt-1">
                <mat-form-field appearance="outline">
                    <mat-label>Escolha seu plano</mat-label>
                    <mat-select formControlName="plano" required>
                        <mat-option *ngFor="let plano of planos " [value]="plano">
                            {{plano}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <button mat-raised-button class="mt-4" type="submit" *ngIf="!isUpdateActive" (click)="enviarForm()" color="warn">Enviar</button>
        <button mat-raised-button class="mt-4" type="submit" *ngIf="isUpdateActive" (click)="atualizar()" color="warn">Atualizar</button>
    </form>
</div>